.blockType {
    box-sizing: border-box;
    border: 1px solid #111;
    background: #333;
    padding: 5px;
    margin: 0;
    border-radius: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
}

.blockType svg {
    fill: #ddd;
}

.spacer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 74px;
    height: 8px;
}

.popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #111;
    background: #333;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    z-index: 3;
    box-sizing: border-box;
    width: 74px;
    margin-top: 8px;
}

.popup:after, .popup:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popup:after {
    border-color: rgba(251, 251, 251, 0);
    border-bottom-color: #333;
    border-width: 4px;
    margin-left: -4px;
}
.popup:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #111;
    border-width: 6px;
    margin-left: -6px;
}