.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.options {
    margin-bottom: 20px;
}

figure {
    margin: 0;
}

.headlineButtonWrapper {
    display: inline-block;
}

.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}


.slider {
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.DraftEditor-root .slider .content {
    margin-top: 5rem;
    margin-left: 4rem;
}

.DraftEditor-root .slider .title,
.DraftEditor-root .slider .description {
    background-color: #ffffff00;
    color: white;
    width: 300px;
    outline: none;
    border: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.DraftEditor-root .slider .title:hover,
.DraftEditor-root .slider .title:focus,
.DraftEditor-root .slider .description:hover,
.DraftEditor-root .slider .description:focus {
    background-color: #ffffff30;
}

.DraftEditor-root .slider .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.DraftEditor-root .slider .description {
    height: 200px;
}

.DraftEditor-root .Upload_root {
    white-space: initial;
    margin-bottom: 1rem;
}

.DraftEditor-root .Upload_root div {
    white-space: initial;
}

.DraftEditor-root .Upload_root #title-upload-button {
    /*background: #FFFAF3 !important;*/
}